@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}
.info{
  background: #E5E5E5;
}
.container-left-text{
  margin-left: 1150px;
  text-align: left;
} 

.container-right-text{
  margin-right: 1200px;
}

.container-create-store{
  margin-left: 500px;
}